<div class="container">
  <h1>Created Celebrities</h1>
  {{#each celebrities}}
  <div>
    <h2>{{this.name}}</h2>
    <h2>{{this.Occupation}}</h2>
    <h2>{{this.CatchPhrase}}</h2>
  </div>
{{/each}}
</div> 